@import "tailwindcss";

@theme {
  	--font-comfortaa: 'Comfortaa', cursive;
  	--font-comic-neue: 'Comic Neue', cursive;
  	--color-background: #011515;
	--color-background-light: #112B29;
	--color-foreground: #eff1f1;
	--color-primary: #ffe38d;
	--color-secondary: #ffa875;
	--color-accent: #81c5af;

}
body{		
	@apply font-comfortaa bg-background text-foreground;
}
@layer components{
	.container-text{
	@apply text-center text-sm max-w-xs mx-auto md:text-lg md:max-w-md lg:max-w-2xl lg:text-xl px-4 bg-background;
	}
}