@import "tailwindcss";

@theme {
  --font-comfortaa: var(--font-comfortaa);
  --font-comic-neue: var(--font-comic-neue);
}
:root {
	--background: #eaf0ef;
	--foreground: #01544e;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #011515;
		--foreground: #eff1f1;
	}
}
body {
	background-color: var(--background);
	color: var(--foreground);
  font-family: 'Comfortaa', sans-serif;
	line-height: 1.5;
	margin: 0;
	padding: 0;
}
