@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-comfortaa: "Comfortaa", cursive;
  --font-comic-neue: "Comic Neue", cursive;
  --font-pacifico: "Pacifico", cursive;
  --color-background: #011515;
  --color-background-light: #112b29;
  --color-foreground: #eff1f1;
  --color-primary: #ffe38d;
  --color-secondary: #ffa87e;
  --color-accent: #81c5af;
  --animate-swing: swin-left-to-right 1s ease-in-out infinite alternate;
  --animate-bounce-right: boune-to-right 0.5s ease-in-out infinite alternate;
}

body {
  @apply font-comfortaa bg-background text-foreground selection:bg-secondary/50 selection:text-primary;
}
@layer components {
  .container-text {
    @apply text-center text-sm max-w-xs mx-auto md:text-lg md:max-w-md lg:max-w-2xl lg:text-xl px-4 bg-background;
  }
  .link {
    @apply text-foreground hover:text-primary  font-bold transition-colors duration-300 relative;
  }
  .slider::before {
    @apply absolute bottom-0 left-0 h-0.5 w-full bg-primary transition-transform duration-500 ease-in-out;

    transform: scaleX(0);
    content: "";
    transform-origin: left;
  }
  .link:hover .slider::before {
    transform: scaleX(1);
  }
  .radio-group-label {
    @apply cursor-pointer font-bold w-full peer-data-[state=checked]:bg-gradient-to-r from-primary to-accent peer-data-[state=checked]:text-background py-3 px-4 border rounded-xl peer-data-[state=checked]:border-0 hover:not-peer-data-[state=checked]:shadow-[2px_3px_0px] hover:not-peer-data-[state=checked]:shadow-white hover:not-peer-data-[state=checked]:-translate-y-0.5 transition-colors duration-300;
  }
  .form-submit-button {
    @apply cursor-pointer! bg-transparent! border hover:border-transparent  px-4! py-5! text-base! font-bold! rounded-2xl! mt-4  overflow-hidden;
  }
  .form-submit-btn-icon {
    @apply inline-flex size-5 relative z-10 group-hover:text-background transition-colors duration-300;
  }
  .form-submit-btn-bg {
    @apply absolute inset-0 bg-gradient-to-r from-primary to-accent transform scale-x-0 group-hover:scale-x-100 transition-transform origin-left duration-300;
  }
  .form-back-btn-bg {
    @apply absolute inset-0 bg-gradient-to-r from-primary to-secondary transform scale-x-0 group-hover:scale-x-100 transition-transform origin-right duration-300;
  }
}
@keyframes swin-left-to-right {
  0% {
    transform: translateY(-5px) rotate(-5deg);
  }
  100% {
    transform: translateY(5px) rotate(5deg);
  }
}

@keyframes boune-to-right {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(10px);
  }
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.129 0.042 264.695);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.129 0.042 264.695);
  --muted: oklch(0.968 0.007 247.896);
  --muted-foreground: oklch(0.554 0.046 257.417);
  --destructive: oklab(53.854% 0.18708 0.10114);
  --border: oklch(0.929 0.013 255.508);
  --input: oklch(0.929 0.013 255.508);
  --ring: oklch(0.704 0.04 256.788);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.984 0.003 247.858);
  --sidebar-foreground: oklch(0.129 0.042 264.695);
  --sidebar-primary: oklch(0.208 0.042 265.755);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.968 0.007 247.896);
  --sidebar-accent-foreground: oklch(0.208 0.042 265.755);
  --sidebar-border: oklch(0.929 0.013 255.508);
  --sidebar-ring: oklch(0.704 0.04 256.788);
}

.dark {
  --card: oklch(0.208 0.042 265.755);
  --card-foreground: oklch(0.984 0.003 247.858);
  --popover: oklch(0.208 0.042 265.755);
  --popover-foreground: oklch(0.984 0.003 247.858);
  --muted: oklch(0.279 0.041 260.031);
  --muted-foreground: oklch(0.704 0.04 256.788);
  --destructive: #ff6467;
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.551 0.027 264.364);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.208 0.042 265.755);
  --sidebar-foreground: oklch(0.984 0.003 247.858);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.279 0.041 260.031);
  --sidebar-accent-foreground: oklch(0.984 0.003 247.858);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.551 0.027 264.364);
}
